<div>
    <div class="one">

    </div>
    <div class="two">
        <div class="right-corner">
            <button class="config"><i class="material-icons">settings</i></button>
        </div>
    </div>
</div>