<div>
    <div class="one">
        <div class="icon">
            <img src="img/icon.jpg" alt="">
        </div>
         <form action="/register" method="POST">
            <h5 class="title"><b>Register</b></h5>
            <div class="form-container">
                <div class="form-input">
                    <input type="text" placeholder="Username" class="input-form" name="username" id="username" onkeyup="verify()"/>
                    <input type="email" placeholder="Email" class="input-form" name="email" id="username" onkeyup="verify()"/>
                    <input type="password" placeholder="Password" class="input-form" name="password" id="password" onkeyup="verify()"/>
                </div>
            </div>
            <div>
                <button class="submit-form" id="submitButton" onmouseleave="mouseLeave()" onmouseover="mouseHover()"><i class="material-icons">arrow_forward</i></button>
            </div>
            <div class="create-account-register">
                <div>
                    <a class="footer-button" href="/">Login instead</a>
                </div>      
            </div>
        </form>
    </div>
    <div class="two">
        <div class="right-corner">
            <button class="config"><i class="material-icons">settings</i></button>
        </div>
    </div>
</div>