<div class="center">
    <h1 class="errorTitle">404 Not Found</h1>
    <p class="errorMessage">We're sorry, this resource is not found</p>
    <br>
    <a href="/" class='btnError'>Go to Dashboard</a>
</div>