<div class="center">
    <h1 class="errorTitle">Server Error</h1>
    <p class="errorMessage">We're sorry, something go wrong</p>
    <br>
    <a href="/" class='btnError'>Go to Dashboard</a>
</div>
